@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

:root {
    /* Fonts */
    --ubuntu-font: 'Ubuntu', sans-serif;

    /* Colors */
    --nav-bar-link: #1C3661;
    --nav-bar-link-hover: #4594D9;

    --description-color: #444444;
    --home-button-color: #034C8C;

    --que-hacemos-bg-description: #f6f9ff;

    --white-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--ubuntu-font);
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
}


/* !--------------- Starts Header Navbar Styling -------------- */
header {
    width: 100%;
    max-width: 1200px;
    height: 80px;
    padding: 15px;
    background-color: var(--white-color);
    position: fixed;
    top: 0;
}

header .navbar {
    width: 100%;
    max-width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar .left {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

header .navbar .left .logo {
    height: 100%;
}

header .navbar .left i {
    font-size: 1.6rem;
    color: var(--nav-bar-link);
}

header .navbar .left i:hover {
    color: var(--nav-bar-link-hover);
    cursor: pointer;
}

header .navbar .right ul {
    display: flex;
    gap: 20px;
}

header .navbar .right ul li {
    list-style: none;
    font-size: 1.6rem;
    font-weight: 700;
}

header .navbar .right ul li a {
    text-decoration: none;
    color: var(--nav-bar-link);
}

header .navbar .right ul li a:hover {
    color: var(--nav-bar-link-hover);
}

header .navbar .right ul li a:active {
    color: var(--nav-bar-link-hover);
}
/* !--------------- Finishes Header Navbar Styling -------------- */


/* !--------------- Starts Main (Home) Styling -------------- */
.main-section {
    width: 100vw;
    max-width: 1200px;
    height: 100vh;
    padding: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-section .left {
    width: 675px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-section .left .title {
    font-size: 5.5rem;
    color: var(--nav-bar-link);
}

.main-section .left .description {
    font-size: 2.8rem;
    font-weight: 500;
    color: var(--description-color);
}

.main-section .left .invite-question {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--nav-bar-link);
}

.main-section .left .button-postularse {
    padding: 20px;
    width: 200px;
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--white-color);
    background-color: var(--home-button-color);
    border: none;
    border-radius: 50px;
    transition: 0.5s;
}

.main-section .left .button-postularse:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 8px 3px var(--nav-bar-link);
    cursor: pointer;
}

.main-section .right {
    width: 525px;
}

.main-section .right img {
    width: 100%;
}
/* !--------------- Finishes Main (Home) Styling -------------- */


/* !--------------- Starts Cómo lo Hacemos Section Styling -------------- */
.que-hacemos-section {
    padding: 70px 0;
    display: flex;
    align-items: center;
}

.que-hacemos-section .left {
    width: 1500px;
    padding: 40px;
    background-color: var(--que-hacemos-bg-description);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.que-hacemos-section .left .subtitle-question {
    font-size: 1.4rem;
    color: var(--home-button-color);
}

.que-hacemos-section .left .subtitle-description {
    font-size: 2.4rem;
    color: var(--nav-bar-link);
}

.que-hacemos-section .left .description {
    color: var(--description-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 22px;
}

.que-hacemos-section .right img {
    width: 100%;
}
/* !--------------- Finishes Cómo lo Hacemos Section Styling -------------- */